// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #04395E;
$green: #085E37;
$yellow: #FFC65A;
$orange: #ED771D;
$brown: #b66819;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gray: #CCC;
$dark-gray: #666
