// Specific CSS for your home-page
body {
  background-color: #032740; /* Updated background color with 30% transparency */
}


.profile-button--icon {
  background-color: rgba($color: #dcf1fa, $alpha: 0.3)
}

.footer {
  background-color: rgba($color: #dcf1fa, $alpha: 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color:black;
  font-weight: 600;
  font-size: 16px;
}
