.showpage-container {

  justify-content: center;
  background-size: cover;
}

.label-container img {
  transition: transform 0.3s ease-in-out;
  transform: scale(2); /* Adjust the base scaling factor as desired */
}

.label-container img:hover {
  transform: scale(2.2); /* Adjust the scaling factor on hover as desired */
}


.showpage-container::before {
  content: "";
  background: url('dm-solo-page.jpg'), rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  /* Add blur effect to the bottom border */
  filter: blur(20px);
}


.profile-flex {
  display: flex;
  justify-content: center;
}

.profile-content-container {
  display: flex;
  flex-direction: column;
}

.profile-content-banner {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 24px;
  background-color: rgba(4, 57, 94, 0.3); /* Adjust the alpha value (0.7 in this example) to control the transparency */
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-content {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: rgba(4, 57, 94, 0.3); /* Adjust the alpha value (0.7 in this example) to control the transparency */
  margin: 0 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);


}

.flex-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: rgba(237, 119, 29, 0.7);
  margin: 24px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.flex-1:hover {
  transform: scale(1.05); /* Adjust the scaling factor as desired */
}



.profile-content p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.btn.btn-primary {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; /* Replace 10px with your desired border radius value */
  color: white;
}

.profile-name-img-container {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  gap: 24px;
  color: white;
  font-weight: 600;
}

.profile-name-img-container div:first-child {
  width: 120px; /* Adjust the width as desired for the circular profile picture */
  height: 120px; /* Adjust the height as desired for the circular profile picture */
  border-radius: 50%; /* Set the border-radius to 50% to create a circle */
  overflow: hidden; /* Ensure the image stays within the circular container */
  margin-right: 12px; /* Add some spacing between the image and the text */
}

.profile-name-img-container div:first-child img {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  object-fit: cover; /* Preserve the aspect ratio and fill the container */
  width: 100%; /* Make the image occupy the full width of the container */
  height: 100%; /* Make the image occupy the full height of the container */
}
