.card {
  z-index: 0;
}

.card-product-infos {
  padding: 16px !important;
}



.booking-container {
  background-image: url('maxresdefault.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.booking-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 50px;
}


#bookings-title {margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 64px;
  line-height: 78px;
  font-style: normal;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.booking-infos-list {
  list-style-type: none;
}

.booking-infos-logo {
  height: 100px;
  width: 100px;
}

.booking-infos {
  display: flex;
  justify-content:space-between
}
