:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
	box-sizing: border-box;
}

.profile-section {
  text-align: center;
}

.profile-section h1 {
  margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 48px;
    line-height: 78px;
    font-style: normal;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 32px;
  grid-gap: 32px;
}

.profile-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
	// width: 90%;
	background-color: #1b2028;
	border-radius: 16px;
	position: relative;
	border: 3px solid transparent;
	background-clip: padding-box;
	text-align: center;
	color: #f1f3f3;
	background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);
	&:after {
		content: "";
		display: block;
		top: -3px;
		left: -3px;
		bottom: -3px;
		right: -3px;
		z-index: -1;
		position: absolute;
		border-radius: 16px;
		background-image: linear-gradient(
			135deg,
			#752e7c,
			#734a58 20%,
			#1b2028 30%,
			#2c333e 100%
		);
	}
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 250%;
	}
}

.profile-username {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 1.5rem;
}

.profile-user-handle {
	color: #7d8396;
}

.profile-actions {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	& > * {
		margin: 0 0.25rem;
	}
}

.profile-button {
	border: 0;
	background-color: transparent;
	padding: 0;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	line-height: 1;
	transition: 0.15s ease;

	&--primary {
		border-radius: 99em;
		background-color: #3772ff;
		background-image: linear-gradient(135deg, #5587ff, #3772ff);
		color: #fff;
		padding: 0 1.375em;
		&:hover,
		&:focus {
			background-size: 150%;
		}
	}

	&--secondary {
		padding: 0 1.375em;
		border-radius: 99em;
		border: 3px solid #343945;
		color: #7d8396;
		i {
			font-size: 1.25em;
		}

		&:hover,
		&:focus {
			border-color: #7d8396;
		}
	}


	&--icon {
		height: 64px;
		width: 64px;
		border-radius: 50%;
		border: 3px solid #343945;
		color: #7d8396;
		img {
			width: 100%;
		}

		&:hover,
		&:focus {
			border-color: #7d8396;
		}
	}
}

.profile-links {
	margin-top: 3.5rem;
}

.link {
	text-decoration: none;
	color: #7d8396;
	margin-left: 0.375rem;
	margin-right: 0.375rem;
	i {
		font-size: 1.25em;
	}
}
