.background-container {
  margin: 32px 0px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("logo_bg_plank.jpg");
  text-align: center;
  height: 160px;
  padding: 16px;
}

.bar-container {
  display:flex;
  margin-top: 36px;
  scale: 1.2;
  justify-content: space-evenly;
}


.label-container {
  justify-self: center;
  flex-direction: column;
  align-content: center;
}


.category_ {
  width: 40px;
}

.logo1{
  background-image: url(app/assets/images/pathfinder.png);
}
