<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @dm_profile.user.email %></h2>
    <p>The absolute <strong>best</strong> DM in town.</p>
  </div>
</div>
<p><%= link_to 'Back', dm_profiles_path, class: 'btn btn-primary'  %></p>
